* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #19213D;
    --primary-color: #ffffff;
    --secondary-color: #1E6BFF;
    --btn-color: #2388FF;
    --box-bg: #fdfcfc;
    --content-color: #868da6;
    --footer-color: #000;
    --bg-color: #003498;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--main-color);
}

h3 {
    font-size: 29px;
    font-weight: 700;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 20px;
}

body {
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

/* Navbar */
.header-absolute {
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.nav-section {
    padding-top: 20px;
}

.nav-section ul li a,
.nav-section a {
    font-size: 1rem;
    font-weight: 600;
    line-height: 40.54px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 5px 25px;
}
a.navbar-brand {
    padding: 5px 0;
}
.nav-links li a {
    color: var(--main-color);
}

.menu-item {
    margin-left: auto;
}

.menu-item li {
    padding: 0 15px;
}

.create-btn {
    background: var(--btn-color);
    color: var(--primary-color);
}

/* Banner */
.banner-section {
    padding-top: 11rem;
    background: linear-gradient(350deg, #3a95ff26 0.4%, rgba(248, 251, 255, 0) 50.05%);
}

.banner-section h1 {
    font-weight: 800;
    line-height: 80px;
    text-align: left;
    width: 600px;
}

.banner-section h1 span {
    font-style: italic;
    font-weight: 800;
    line-height: 91.75px;
    text-align: left;
    color: var(--secondary-color);
}

.banner-section p {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.banner-section img {
    max-width: 100%;
}

/* Feature  */
.feature-section h2 {
    font-weight: 700;
    line-height: 43px;
}

.feature-section .col h5 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--primary-color);
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 0;
    font-weight: 700;
}

.feature-box {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: var(--box-bg);
    height: 100px;
}

.feature-count {
    margin: auto 0;
}

.feature-content {
    margin: auto 0;
}

/* Banking  */
.banking-header {
    justify-content: space-between;
}

.banking-header h3 {
    position: relative;
    padding-left: 90px;
    color: var(--main-color);
    font-weight: 700;
}

.banking-header h3::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 68px;
    height: 5px;
    background-color: var(--btn-color);
    border-radius: 50px;
}

button.button-primary {
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 5px 25px;
    background: var(--btn-color);
    color: var(--primary-color);
    border: none;
}

button.button-primary-light {
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 5px 50px;
    background: var(--primary-color);
    color: var(--main-color);
    border: none;
}

.banking-box img {
    width: 170px;
    height: 50px;
    object-fit: contain;
}

.banking-box {
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: var(--box-bg);
    height: 180px;
}

.banking-section h5 {
    color: var(--main-color);
    font-weight: 700;
}

.banking-section h6 {
    color: var(--secondary-color);
    font-weight: 700;
}

/* Reward Section */
.reward-data {
    width: 70%;
    margin: 0 auto;
}

.reward-data .btn {
    border-radius: 50px 0px 0px 50px;
    background: transparent;
    color: var(--main-color);
    height: 50px;
    width: 200px;
}

.reward-data .button-primary {
    position: relative;
    left: -25px;
    text-transform: capitalize;
    width: 200px;
}

.reward-data input {
    border-color: var(--main-color);
    border-radius: 0;
    border-left: 0;
    padding-left: 30px;
}

.reward-data ul {
    width: 200px;
}

.reward-data .btn:active {
    background: var(--secondary-color);
    border: 0;
}

.reward-data input:focus {
    border-color: var(--main-color);
    box-shadow: none;
}

.about p {
    color: var(--content-color);
    font-weight: 400;
    line-height: 40px;
}


/* footer */
footer {
    background: var(--footer-color);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}

.pre-footer {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 52, 152, 0.86), rgba(0, 52, 152, 0.86)), url(../images/footer.jfif) no-repeat center center;
}

.footer p {
    font-size: 14px;
    font-weight: 500;
}

.footer ul {
    display: flex;
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
    padding: 0 10px;
}

.footer ul li:last-child a {
    border: 0;
    padding-right: 0;
}
.pre-footer h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 60px;
}
.pre-footer h3 {
    font-size: 32px;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 50px;
}

/* Responsive */

/* Responsive Styles */
@media (min-width:992px) and (max-width: 1200px) {
    .menu-item li {
        padding: 0 10px;
    }
    .nav-section ul li a, .nav-section a {
        font-size: 0.9rem;
    }
    .banner-section p {
        font-size: 23px;
    }
    .feature-content p {
        font-size: 17px;
    }
    .feature-box {
        height: 110px;
    }
    .banking-box {
        height: 190px;
    }
    .reward-data {
        padding-left: 25px;
    }
    .about-content{
        margin:auto 0;
    }
}


@media (max-width: 991px) {
    h1 {
        font-size: 60px;
    }
    .header-absolute {
        background: #f4f9ff;
    }
    .nav-section ul li a {
        text-align: left;
        padding: 5px 0;
    }
    .banner-section {
        padding-top: 7rem;
    }
    .banner-section h1 {
        line-height: 65px;
    }
    .banking-box {
        height: 200px;
    }
    .reward-data {
        width: 100%;
        margin-left: 18px;
    }
    .reward-data .btn {
        width: 150px;
        font-size: 0.9rem;
    }
    .reward-data input {
        padding-left: 10px;
        font-size: 0.9rem;
    }
    .pre-footer h3 {
        font-size: 28px;
    }
    .footer ul {
        text-align: center;
        justify-content: center;
        padding: 10px 0 0 0;
    }
    div#navbarSupportedContent {
        margin-bottom: 10px;
    }
}


@media (min-width:315px) and (max-width: 450px) {
    h1 {
        font-size: 40px;
    }
    .banner-section h1 {
        line-height: 20px;
    }
    .banner-section p {
        font-size: 20px;
        line-height: 27px;
        margin-top: 0 !important;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 16px;
    }
    h3 {
        font-size: 20px;
    }
    h5 {
        font-size: 15px;
    }
    .banking-header h3 {
        padding-left: 45px;
        margin: auto 0;
        text-align: left;
    }
    .banking-header h3::before {
        top: 40%;
        width: 40px;
        height: 4px;
    }
    button.button-primary {
        font-size: 0.7rem;
        padding: 0px 10px;
    }
    .banking-box {
        height: 180px;
    }
    .about p {
        line-height: 25px;
        text-align: justify;
    }
    .pre-footer h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .pre-footer h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .reward-data {
        margin-left: 10px;
    }
    .reward-data .btn {
        width: 106px;
        font-size: 0.7rem;
    }
    .reward-data .button-primary {
        left: -21px;
    }
    .reward-data input {
        padding-left: 10px;
        font-size: 0.7rem;
    }

}